/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
    

/* Body styles */
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-image:url(code.jpg);
    backdrop-filter: blur(10px);
    color: #fff;

}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: large;
}

/* Navigation styles */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: rgb(96, 55, 9);
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: hwb(285 80% 15%);
}

/* Main styles */
main {
    padding: 20px;
}

/* Section styles */
section {
    margin-bottom: 30px;
}

section h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #e5b7b7;
    font-family:'Times New Roman', Times, serif;
    margin-left: 0%;
}

section p {
    margin-bottom: 15px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
